aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.5.0
certifi==2024.6.2
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
dacite==1.8.1
debugpy==1.8.1
decorator==5.1.1
distro==1.9.0
executing==2.0.1
Flask==3.0.0
fonttools==4.53.0
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.43
googletrans==3.0.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.7.1
htmlmin==0.1.12
httpcore==1.0.5
httpx==0.27.2
hyperframe==5.2.0
idna==2.10
ImageHash==4.3.1
install==1.3.5
ipykernel==6.29.3
ipython==8.22.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jiter==0.5.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.4
matplotlib-inline==0.1.6
mdurl==0.1.2
multidict==6.0.5
multimethod==1.11.2
narwhals==1.8.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
openai==1.43.0
packaging==24.0
pandas==2.2.1
parso==0.8.3
patsy==0.5.6
phik==0.12.4
pickle-mixin==1.0.2
pillow==10.3.0
PIS @ git+https://github.com/gathnexadmin/Linkedin_Automation_with_Generative_AI.git@a17c82d6917535590cd4ebfe786dc26f37b7ae65
platformdirs==4.2.0
prompt-toolkit==3.0.43
protobuf==5.28.1
psutil==5.9.8
pure-eval==0.2.2
pyarrow==17.0.0
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.9.1
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.6.0
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rfc3986==1.5.0
rich==13.8.1
rpds-py==0.20.0
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
setuptools==72.1.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
statsmodels==0.14.2
streamlit==1.38.0
tenacity==8.5.0
textblob==0.18.0.post0
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4
tqdm==4.66.4
traitlets==5.14.2
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
visions==0.7.6
watchdog==4.0.2
wcwidth==0.2.13
Werkzeug==3.0.1
wheel==0.43.0
wordcloud==1.9.3
yarl==1.9.4
ydata-profiling==4.8.3
